<!-- Core -->
<script src="@@path/vendor/@popperjs/core/dist/umd/popper.min.js"></script>
<script src="@@path/vendor/bootstrap/dist/js/bootstrap.min.js"></script>

<!-- Vue3 JS, last version -->
<script src="https://unpkg.com/vue@next"></script>

<!-- Vendor JS -->
<script src="@@path/vendor/onscreen/dist/on-screen.umd.min.js"></script>

<!-- Slider -->
<script src="@@path/vendor/nouislider/dist/nouislider.min.js"></script>

<!-- Smooth scroll -->
<script src="@@path/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>

<!-- Charts -->
<script src="@@path/vendor/chartist/dist/chartist.min.js"></script>
<script src="@@path/vendor/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js"></script>

<!-- Datepicker -->
<script src="@@path/vendor/vanillajs-datepicker/dist/js/datepicker.min.js"></script>

<!-- Sweet Alerts 2 -->
<script src="@@path/vendor/sweetalert2/dist/sweetalert2.all.min.js"></script>

<!-- Moment JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"></script>
<!-- also support locales
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment-with-locales.js/2.27.0/moment.min.js"></script>
-->

<!-- Vanilla JS Datepicker -->
<script src="@@path/vendor/vanillajs-datepicker/dist/js/datepicker.min.js"></script>

<!-- Notyf -->
<!-- <script src="@@path/vendor/notyf/notyf.min.js"></script> -->
<script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>

<!-- Simplebar -->
<script src="@@path/vendor/simplebar/dist/simplebar.min.js"></script>

<!-- Github buttons -->
<script async defer src="https://buttons.github.io/buttons.js"></script>

<!-- Volt JS -->
<script src="@@path/assets/js/volt.js"></script>

<!-- AXIOS -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<!-- Vue 3 JS -->
<script src="https://unpkg.com/vue@next"></script>

<script>
 wl = {...window.location}
 if (window.location.hostname=="gtherm.ru") {
     APISERVER=wl.protocol+"//"+wl.host;
 } else {
     APISERVER="http://localhost:8000"
 }
 // alert(APISERVER);
 let API="/api/1.0/"
 let SA=APISERVER+API
 var userProfileApp = {};
 const ERROR = 10;
 const PATHNAME = window.location.pathname;
 const TEST_UUID = "6afbc852-c32e-401c-bc0c-1213097f2b27"

 function echoServer() {
     axios.post(SA+"test", {"uuid":TEST_UUID})
          .then(resp => {
              let js = resp.data;
              if (js.level<ERROR) {
                  if (js.value != TEST_UUID) {
                      Swal.fire(
                          'Fatal problem',
                          'Server does not work correctly! A simple test failed.',
                          'fatal'
                      );
                  } else {
                      // alert("Comm OK!");
                  }
              }
          })
          .catch(error => {
              Swal.fire(
                  'Communication problems.',
                  'Sorry, but we cannot connect to the backend server!',
                  'fatal'
              );
          });
 }

 echoServer();

 function getCookies() {
     var pairs = document.cookie.split(";");
     var cookies = {};
     for (var i=0; i<pairs.length; i++){
         var pair = pairs[i].split("=");
         cookies[(pair[0]+'').trim()] = unescape(pair.slice(1).join('='));
     }
     return cookies;
 }
 var COOKIES = getCookies();

 // alert("GET:"+document.cookie);

 function navigateHome() {
     window.location.pathname="/index.html";
 }

 function redirectToLogin() {
     window.location.pathname="/pages/signUp.html";
 }

 function redirectToDashboard() {
     // window.location.pathname="/index.html";
     navigateHome();
 }

 function redirectToGraphs() {
     window.location.pathname="/pages/graphs.html";
 }

 function redirectToMeasurement() {
     window.location.pathname="/pages/measurement.html";
 }

 function setCookie(name, value) {
     document.cookie = name + "=unknown; max-age=-60"
     if (value === undefined || value=="") {
         document.cookie = name+"=unknown; path=/; max-age=-60"
     } else {
         document.cookie = name+"="+value+"; path=/; max-age=604800";
     }
     COOKIES = getCookies();
 }

 function setUserCookie(value) {
     return setCookie("user", value);
 }

 function resetSession() {
     if (PATHNAME == "" || PATHNAME == "/" ||
         PATHNAME == "/index.html" ||
         PATHNAME == "/pages/signUp.html") {
     } else {
         navigateHome()
     }
 }

 function isValidUserCookie() {
     if (COOKIES.user === undefined || COOKIES.user.length < 20) {
         return false;
     } else {
         return true;
     }
 }

 function getUserUUID() {
     if (isValidUserCookie()) {
         return COOKIES.user;
     } else {
         return undefined;
     }
 }

 function getProjectUUID() {
     if (isValidUserCookie()) {
         return COOKIES.project;
     } else {
         return undefined;
     }
 }

 function getIcon(js) {
     l = js.level
     if (l == 0) {
         return "success"
     } else if (l == 1) {
         return "success"
     } else if (l == 2) {
         return "info"
     } else if (l == 3) {
         return "warning"
     } else if (l == 10) {
         return "error"
     } else if (l == 20) {
         return "error"
     } else {
         return "warning"
     }
 }

 if (!isValidUserCookie()) resetSession();

 function updateProfileApp(udj){
     level = udj.level;
     if (level<ERROR) {
         let v = udj.value;
         let uuuid = v.uuid;
         if (COOKIES.user!=uuuid) {
             setUserCookie(v.uuid);
         };
         userProfileApp.$data.user=v;
         userProfileApp.$data.logged=true;
     } else {
         userProfileApp.$data.user.name="UNKNOWN";
         userProfileApp.$data.logged=false;
     }
 }

 function loginOrRegisterUser() {
//     notyf.error('You must fill out the form before moving forward');
//     notyf.success('Your changes have been successfully saved!');


     Swal.fire({
         title: 'Enter Your credential data!',
         html:
    '<label for="alias">User name:</label>' +
    '<input id="alias" class="swal2-input" >' +
    '<label for="password" class="swal2">Password:</label>' +
    '<input id="password" class="swal2-input" type="password">' +
    '<br/><br/><center><a href="/pages/signUp.html"><span><strong color="red">Sign Up!<strong><span></a></center>',
         focusConfirm: false,
         preConfirm: () => {
             return {
                 alias:document.getElementById('alias').value,
                 password:document.getElementById('password').value
             }
         }
     }).then((result) => {
         data=result.value;
         axios.post(SA+"user/authenticate", data)
              .then(function(resp){
                  let js=resp.data;
                  let v = js.value;
                  if (js.level < ERROR) {
                      Swal.fire({
                          position: 'top',
                          icon: 'success',
                          title: 'Your are logged in!',
                          showConfirmButton: false,
                          timer: 1500
                      }).then(result => {
                          setUserCookie(v);
                          initializeSession();
                          navigateHome();
                          loadProjects();
                      }
                      );
                  } else {
                      Swal.fire(
                         'Did not log in!',
                         'You are not logged in. ' + js.description,
                         'error'
                      );
                  }
              })
              .catch(function(error){
                  Swal.fire(
                      'Cannot authenticate!',
                      'It seems, there are troubles communicating server!',
                      'error'
                  );
                  return undefined;
              });

     });
     return undefined;
 }

 function initializeSession() {
     userUUID = COOKIES.user;
     if (!isValidUserCookie()) {
         userUUID = loginOrRegisterUser();
     }
     if (userUUID === undefined || userUUID.length<10) return;

     axios.post(SA + "user/" + userUUID + "/data")
          .then(function(resp) {
              js=resp.data;
              updateProfileApp(js);
          })
          .catch(function(error){
              console.log(error);
          })

 }

 userProfileApp=Vue.createApp({
     data() {
         initializeSession();
         return {
             user: {
                 name:"Gravater"
             },
             logged:false,
             message:"Logout"
         }
     },
     methods: {
         logout() {
             Swal.fire({
                 title: 'Are you sure?',
                 text: "The session will terminate, and You will have to login agan.",
                 icon: 'warning',
                 showCancelButton: true,
                 confirmButtonColor: '#3085d6',
                 cancelButtonColor: '#d33',
                 confirmButtonText: 'Yes, logout!'
             }).then((result) => {
                 if (result.isConfirmed) {
                     this.logged = false;
                     setUserCookie(undefined);
                     setCookie("project", undefined);
                     userProfileApp.$data.user.name="UNKNOWN";
                     axios.post(SA + "user/" + userProfileApp.$data.user.uuid + "/logout");
                     Swal.fire(
                         'Logged out!',
                         'You are logged out. All Your data is safe at server!',
                         'success'
                     );
                     resetSession();
                     initializeSession();

                 }
             })
         }
     }
 }).mount("#vue-user-profile-data");

</script>
